<div class="row mt-4">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 [ngClass]="text" class="m-0 font-weight-bold">{{team.name}} :  {{team.score}}</h6>
            </div>
            <div class="card-body pt-2 pr-2">
                <table mat-table matSort [dataSource]="_datasource" matSortActive="kills" matSortDirection="desc" matSortDisableClear="true" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                        <td class="w-10" mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="kills">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Kills </th>
                        <td mat-cell *matCellDef="let element"> {{element.kills}} </td>
                    </ng-container>
                    <ng-container matColumnDef="deaths">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Deaths </th>
                        <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
                    </ng-container>
                    <ng-container matColumnDef="assists">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Assists </th>
                        <td mat-cell *matCellDef="let element"> {{element.assists}} </td>
                    </ng-container>
                    <ng-container matColumnDef="kd">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> K/D </th>
                        <td mat-cell *matCellDef="let element"> {{element.kd}} </td>
                    </ng-container>
                    <ng-container matColumnDef="adr">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> ADR </th>
                        <td mat-cell *matCellDef="let element"> {{element.adr}} </td>
                    </ng-container>
                    <ng-container matColumnDef="headshotPercentage">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> HS% </th>
                        <td mat-cell *matCellDef="let element"> {{element.headshotPercentage}} % </td>
                    </ng-container>
                    <ng-container matColumnDef="firstKill">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> FK </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstKill}} </td>
                    </ng-container>
                    <ng-container matColumnDef="firstDeath">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> FD </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstDeath}} </td>
                    </ng-container>
                    <ng-container matColumnDef="5k">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> 5K </th>
                        <td mat-cell *matCellDef="let element"> {{element.fiveKillRounds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="4k">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> 4K </th>
                        <td mat-cell *matCellDef="let element"> {{element.fourKillRounds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="3k">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> 3K </th>
                        <td mat-cell *matCellDef="let element"> {{element.threeKillRounds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="2k">
                        <th mat-header-cell mat-sort-header="twoKillRounds" *matHeaderCellDef> 2K </th>
                        <td mat-cell *matCellDef="let element"> {{element.twoKillRounds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="1k">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> 1K </th>
                        <td mat-cell *matCellDef="let element"> {{element.oneKillRounds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="1v5">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> 1v5 </th>
                        <td mat-cell *matCellDef="let element"> {{element.oneVersusFiveClutched}} </td>
                    </ng-container>
                    <ng-container matColumnDef="1v4">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> 1v4 </th>
                        <td mat-cell *matCellDef="let element"> {{element.oneVersusFourClutched}} </td>
                    </ng-container>
                    <ng-container matColumnDef="1v3">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> 1v3 </th>
                        <td mat-cell *matCellDef="let element"> {{element.oneVersusThreeClutched}} </td>
                    </ng-container>
                    <ng-container matColumnDef="1v2">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> 1v2 </th>
                        <td mat-cell *matCellDef="let element"> {{element.oneVersusTwoClutched}} </td>
                    </ng-container>
                    <ng-container matColumnDef="1v1">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> 1v1 </th>
                        <td mat-cell *matCellDef="let element"> {{element.oneVersusOneClutched}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ef">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> EF </th>
                        <td mat-cell *matCellDef="let element"> {{element.enemiesFlashed}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ud">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> UD </th>
                        <td mat-cell *matCellDef="let element"> {{element.utilityDamage}} </td>
                    </ng-container>
                    <ng-container matColumnDef="mvp">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> MVPs </th>
                        <td mat-cell *matCellDef="let element"> {{element.mvp}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="tableHeadings"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: tableHeadings;"></tr>
                </table>
<!--                <div class="table-responsive">-->
<!--                    <table class="table table-striped" id="team{{team.id}}table" width="100%" cellspacing="0">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th style="border-top: none" colspan="9"></th>-->
<!--                            <th style="border-top: none" class="multikill text-center" colspan="1">-->
<!--                                <a class="btn multikillToggle"><small style="white-space: nowrap">Multi-->
<!--                                    Kills</small></a>-->
<!--                                <div-->
<!--                                    style="border-top:2px solid rgba(0,0,0, 0.3);height:8px; border-left:2px solid rgba(0,0,0, 0.3); border-right:2px solid rgba(0,0,0, 0.3);"></div>-->
<!--                            </th>-->
<!--                            <th style="border-top: none" class="multikill text-center" colspan="5">-->
<!--                                <a class="btn multikillToggle"><small style="white-space: nowrap">Multi-->
<!--                                    Kills</small></a>-->
<!--                                <div-->
<!--                                    style="border-top:2px solid rgba(0,0,0, 0.3);height:8px; border-left:2px solid rgba(0,0,0, 0.3); border-right:2px solid rgba(0,0,0, 0.3);"></div>-->
<!--                            </th>-->
<!--                            <th style="border-top: none" class="clutch text-center" colspan="1">-->
<!--                                <a class="btn clutchToggle"><small style="white-space: nowrap">Clutch Stats</small></a>-->
<!--                                <div-->
<!--                                    style="border-top:2px solid rgba(0,0,0, 0.3);height:8px; border-left:2px solid rgba(0,0,0, 0.3); border-right:2px solid rgba(0,0,0, 0.3);"></div>-->
<!--                            </th>-->
<!--                            <th style="border-top: none" class="clutch text-center" colspan="5">-->
<!--                                <a class="btn clutchToggle"><small style="white-space: nowrap">Clutch Stats</small></a>-->
<!--                                <div-->
<!--                                    style="border-top:2px solid rgba(0,0,0, 0.3);height:8px; border-left:2px solid rgba(0,0,0, 0.3); border-right:2px solid rgba(0,0,0, 0.3);"></div>-->
<!--                            </th>-->
<!--                            <th style="border-top: none" colspan="3"></th>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th class="text-center" style="width: 15%">Name</th>-->
<!--                            <th class="text-center" style="width: 5%">K</th>-->
<!--                            <th class="text-center" style="width: 5%">D</th>-->
<!--                            <th class="text-center" style="width: 5%">A</th>-->
<!--                            <th class="text-center" style="width: 5%">K/D</th>-->
<!--                            <th class="text-center" style="width: 5%">ADR <i-->
<!--                                class="fas fa-question-circle text-gray-300" data-bs-toggle="tooltip"-->
<!--                                data-bs-placement="top" title="Average Damage per Round"></i></th>-->
<!--                            <th class="text-center" style="width: 5%">HS %</th>-->
<!--                            <th class="text-center" style="width: 5%">FK <i class="fas fa-question-circle text-gray-300"-->
<!--                                                                            data-bs-toggle="tooltip"-->
<!--                                                                            data-bs-placement="top"-->
<!--                                                                            title="First Kill"></i></th>-->
<!--                            <th class="text-center" style="width: 5%">FD <i class="fas fa-question-circle text-gray-300"-->
<!--                                                                            data-bs-toggle="tooltip"-->
<!--                                                                            data-bs-placement="top"-->
<!--                                                                            title="First Death"></i></th>-->
<!--                            <th style="width: 5%" class="text-center">3K+</th>-->
<!--                            <th style="width: 5%" class="text-center">5K</th>-->
<!--                            <th style="width: 5%" class="text-center">4K</th>-->
<!--                            <th style="width: 5%" class="text-center">3K</th>-->
<!--                            <th style="width: 5%" class="text-center">2K</th>-->
<!--                            <th style="width: 5%" class="text-center">1K</th>-->
<!--                            <th style="width: 5%" class="text-center">1vX</th>-->
<!--                            <th style="width: 5%" class="text-center">1v5</th>-->
<!--                            <th style="width: 5%" class="text-center">1v4</th>-->
<!--                            <th style="width: 5%" class="text-center">1v3</th>-->
<!--                            <th style="width: 5%" class="text-center">1v2</th>-->
<!--                            <th style="width: 5%" class="text-center">1v1</th>-->
<!--                            <th class="text-center" style="width: 5%">EF <i class="fas fa-question-circle text-gray-300"-->
<!--                                                                            data-bs-toggle="tooltip"-->
<!--                                                                            data-bs-placement="top"-->
<!--                                                                            title="Enemies Flashed"></i></th>-->
<!--                            <th class="text-center" style="width: 5%">UD <i class="fas fa-question-circle text-gray-300"-->
<!--                                                                            data-bs-toggle="tooltip"-->
<!--                                                                            data-bs-placement="top"-->
<!--                                                                            title="Utility Damage"></i></th>-->
<!--                            <th class="text-center" style="width: 5%">MVP</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr *ngFor="let player of team.players">-->
<!--                            <td class="fw-bold">{{ player.name }}</td>-->
<!--                            <td class="text-center">{{ player.kills }}</td>-->
<!--                            <td class="text-center">{{ player.deaths }}</td>-->
<!--                            <td class="text-center">{{ player.assists }}</td>-->
<!--                            <td class="text-center">{{ (((player.kills / player.deaths) + EPSILON) * 100) / 100 | number : '1.0-0'}}</td>-->
<!--                            <td class="text-center">{{ ((player.damageDone / totalRounds)) | number : '1.0-0' }}</td>-->
<!--                            <td class="text-center">{{ (((player.headshots / player.kills) + EPSILON) * 100) | number : '1.0-0'}}-->
<!--                                %-->
<!--                            </td>-->
<!--                            <td class="text-center">{{ player.firstKill }}</td>-->
<!--                            <td class="text-center">{{ player.firstDeath }}</td>-->
<!--                            <td class="text-center">{{ player.fiveKillRounds + player.fourKillRounds + player.threeKillRounds }}</td>-->
<!--                            <td class="text-center">{{ player.fiveKillRounds}}</td>-->
<!--                            <td class="text-center">{{player.fourKillRounds}}</td>-->
<!--                            <td class="text-center">{{ player.threeKillRounds}}</td>-->
<!--                            <td class="text-center">{{ player.twoKillRounds}}</td>-->
<!--                            <td class="text-center">{{ player.oneKillRounds}}</td>-->
<!--                            <td class="text-center">{{ player.oneVersusFiveClutched + player.oneVersusFourClutched + player.oneVersusThreeClutched + player.oneVersusTwoClutched + player.oneVersusOneClutched }}</td>-->
<!--                            <td class="text-center">{{ player.oneVersusFiveClutched}}</td>-->
<!--                            <td class="text-center">{{ player.oneVersusFourClutched}}</td>-->
<!--                            <td class="text-center">{{ player.oneVersusThreeClutched}}</td>-->
<!--                            <td class="text-center">{{ player.oneVersusTwoClutched}}</td>-->
<!--                            <td class="text-center">{{ player.oneVersusOneClutched}}</td>-->
<!--                            <td class="text-center">{{ player.enemiesFlashed }}</td>-->
<!--                            <td class="text-center">{{ player.utilityDamage }}</td>-->
<!--                            <td class="text-center">{{ player.mvp }}</td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
