<div *ngIf="!isLoading" class="container-fluid">
    <div class="row">
        <mat-tab-group dynamicHeight animationDuration="250ms">
            <mat-tab label="Dashboard">
                <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                    <h1 class="h3 mb-0 text-gray-800 fw-bold">Player Statistics: <b>{{ player?.name }}</b></h1>
                </div>
                <div class="row">
                    <!-- Kills -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Kills
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ player.kills }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- KDR -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            K/D
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ player.kd }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Headshot % -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Headshot %
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div
                                                    class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ player.headshotPercentage }}
                                                    %
                                                </div>
                                            </div>
                                            <div class="col">
                                                <!--                                                    <div class="progress progress-sm mr-2">-->
                                                <!--                                                        <div class="progress-bar bg-info" role="progressbar"-->
                                                <!--                                                             style="width: {{ player.headshotPercentage }}%"-->
                                                <!--                                                             aria-valuenow="{{ player.headshotPercentage }}"-->
                                                <!--                                                             aria-valuemin="0" aria-valuemax="100"></div>-->
                                                <!--                                                    </div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Win % -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Win %
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ (((player.totalWins / player.totalGames) + EPSILON) * 100) | number : '1.0-0'}}
                                            %
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-trophy fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Deaths -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Deaths
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.deaths }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-skull fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Assists % -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Assists
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.assists }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-hands-helping fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ADR -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            ADR
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ player.adr }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-skull fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MVP's -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            MVP
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ player.mvp }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-medal fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Teammates Flashed % -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Teammates Flashed
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.teammatesFlashed }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye-slash fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Flash Duration -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Team Flash Duration
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.teamFlashDuration | number : '1.0-0' }}
                                            seconds
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clock fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Enemies Flashed -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Enemies Flashed
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.enemiesFlashed }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye-slash fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Flash Duration -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Enemy Flash Duration
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.flashDuration | number : '1.0-0' }}
                                            seconds
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clock fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Kills Through Smoke -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Kills Through Smoke
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.smokeKills }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-cloud fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Kills While Flashed -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Kills While Flashed
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.killsWhileFlashed }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye-slash fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Flash Assists -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Flash Assists
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.flashAssists }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-hands-helping fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Wallbang Kills -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Wallbang Kills
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.wallbangKills }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-bullseye fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Fall Damage Taken -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Fall Damage Taken
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.fallDamage }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-parachute-box fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- No Scope Kills -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            No Scope Kills
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.noScopeKills }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Total Kill Reward -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Total Kill Reward
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            $ {{ player.killReward }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Bombs Planted -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Bombs Planted
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.bombsPlanted }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-bomb fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Utility Damage % -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Average Utility Damage
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ (((player.utilityDamage / player.totalGames))) | number : '1.0-0' }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-bomb fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Utility Damage % -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Average Team Utility Damage
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ (((player.teamUtilityDamage / player.totalGames))) | number : '1.0-0' }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-bomb fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Kills -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Team Kills
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.teamKills }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Damage -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Team Damage
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.teamDamage }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-skull fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Aces -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Aces
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.fiveKillRounds }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 4 Kills -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            4 Kill Rounds
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.fourKillRounds }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3 Kills -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            3 Kill Rounds
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.threeKillRounds }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 Kills -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            2 Kill Rounds
                                        </div>
                                        <div
                                            class="h5 mb-0 font-weight-bold text-gray-800">{{ player.twoKillRounds }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Maps">
                <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                    <h1 class="h3 mb-0 text-gray-800 fw-bold">Map Statistics: <b>{{ player.name }}</b></h1>
                </div>

                <app-map-breakdown [maps]="player.maps"></app-map-breakdown>

            </mat-tab>
            <mat-tab label="Guns/Clutch">
                <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                    <h1 class="h3 mb-0 text-gray-800 fw-bold">Gun/Clutch Statistics: <b>{{ player.name }}</b></h1>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Guns ({{ player.kills }} Kills)</h6>
                            </div>
                            <div class="card-body">
                                <ng-container *ngFor="let gun of player.guns">
                                    <h4 *ngIf="gun.kills > 0"
                                        class="small font-weight-bold text-uppercase">{{ gun.name }}
                                        <span class="float-right">{{ gun.kills }}
                                            Kill(s) - ({{ (((gun.headshots / gun.kills) + EPSILON) * 100) | number : '1.0-0' }}
                                            % HS)</span>
                                    </h4>
                                    <div *ngIf="gun.kills > 0" class="progress mb-4">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             [ngStyle]="{'width.%' : (((gun.kills / player.guns[0].kills) + EPSILON) * 100) | number : '1.0-0'}"
                                             [attr.aria-valuenow]="(((gun.kills / player.guns[0].kills) + EPSILON) * 100) | number : '1.0-0'"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Clutch Success
                                    ({{ player.clutchPercentage }}%)</h6>
                            </div>
                            <div class="card-body">

                                <h4 *ngIf="player.oneVersusOne > 0" class="small font-weight-bold text-uppercase">
                                    1v1 Clutch %
                                    <span
                                        class="float-right">{{ (((player.oneVersusOneClutched / player.oneVersusOne) + EPSILON) * 100) | number : '1.0-0' }}
                                        % ({{ player.oneVersusOneClutched }} / {{ player.oneVersusOne }})</span>
                                </h4>
                                <div *ngIf="player.oneVersusOne > 0" class="progress mb-4">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         [ngStyle]="{'width.%' : (((player.oneVersusOneClutched / player.oneVersusOne) + EPSILON) * 100) | number : '1.0-0'}"
                                         [attr.aria-valuenow]="(((player.oneVersusOneClutched / player.oneVersusOne) + EPSILON) * 100) | number : '1.0-0' "
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <h4 *ngIf="player.oneVersusTwo > 0" class="small font-weight-bold text-uppercase">
                                    1v2 Clutch %
                                    <span
                                        class="float-right">{{ (((player.oneVersusTwoClutched / player.oneVersusTwo) + EPSILON) * 100) | number : '1.0-0' }}
                                        % ({{ player.oneVersusTwoClutched }} / {{ player.oneVersusTwo }})</span>
                                </h4>
                                <div *ngIf="player.oneVersusTwo > 0" class="progress mb-4">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         [ngStyle]="{'width.%' :  (((player.oneVersusTwoClutched / player.oneVersusTwo) + EPSILON) * 100) | number : '1.0-0'}"
                                         [attr.aria-valuenow]="(((player.oneVersusTwoClutched / player.oneVersusTwo) + EPSILON) * 100) | number : '1.0-0'"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 *ngIf="player.oneVersusThree > 0" class="small font-weight-bold text-uppercase">
                                    1v3 Clutch %
                                    <span
                                        class="float-right">{{ (((player.oneVersusThreeClutched / player.oneVersusThree) + EPSILON) * 100) | number : '1.0-0' }}
                                        % ({{ player.oneVersusThreeClutched }} / {{ player.oneVersusThree }})</span>
                                </h4>
                                <div *ngIf="player.oneVersusThree > 0" class="progress mb-4">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         [ngStyle]="{'width.%' : (((player.oneVersusThreeClutched / player.oneVersusThree) + EPSILON) * 100) | number : '1.0-0'}"
                                         [attr.aria-valuenow]="(((player.oneVersusThreeClutched / player.oneVersusThree) + EPSILON) * 100) | number : '1.0-0'"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 *ngIf="player.oneVersusFour > 0" class="small font-weight-bold text-uppercase">
                                    1v4 Clutch %
                                    <span
                                        class="float-right">{{ (((player.oneVersusFourClutched / player.oneVersusFour) + EPSILON) * 100) | number : '1.0-0' }}
                                        % ({{ player.oneVersusFourClutched }} / {{ player.oneVersusFour }})</span>
                                </h4>
                                <div *ngIf="player.oneVersusFour > 0" class="progress mb-4">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         [ngStyle]="{'width.%' : (((player.oneVersusFourClutched / player.oneVersusFour) + EPSILON) * 100) | number : '1.0-0' }"
                                         [attr.aria-valuenow]="(((player.oneVersusFourClutched / player.oneVersusFour) + EPSILON) * 100) | number : '1.0-0'"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 *ngIf="player.oneVersusFive > 0" class="small font-weight-bold text-uppercase">
                                    1v5 Clutch %
                                    <span
                                        class="float-right">{{ (((player.oneVersusFiveClutched / player.oneVersusFive) + EPSILON) * 100) | number : '1.0-0' }}
                                        % ({{ player.oneVersusFiveClutched }} / {{ player.oneVersusFive }})</span>
                                </h4>
                                <div *ngIf="player.oneVersusFive > 0" class="progress mb-4">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         [ngStyle]="{'width.%': ((((player.oneVersusFiveClutched / player.oneVersusFive) + EPSILON) * 100) | number : '1.0')}"
                                         [attr.aria-valuenow]="(((player.oneVersusFiveClutched / player.oneVersusFive) + EPSILON) * 100) | number : '1.0-0'"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Entry">
                <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                    <h1 class="h3 mb-0 text-gray-800 fw-bold">Entry Statistics: <b>{{ player.name }}</b></h1>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Entry Success
                                    ({{ player.entrySuccess }}%)</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas baseChart [data]="entryData" [options]="chartOptions" [type]="'doughnut'"
                                            id="entrySuccessPieChart" width="746" height="316"
                                            style="display: block; height: 253px; width: 597px;"
                                            class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
