<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                <h1 class="h3 mb-0 text-gray-800 fw-bold">CSGO Stat Parser - Upload Demo</h1>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <form action="/upload-demo" method="POST" enctype="multipart/form-data" >
                        <input id="demoName" name="demoName" type="text" />
                        <input id="demoFile" name="demo" type="file" />
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>
